<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>esxclient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>412F66D41CB6F6E000CA6395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>412F66E31CB6F6E100CA6395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>412F66EE1CB6F6E100CA6395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
